DJANGO_SETTINGS_MODULE=config.settings.dev
DJANGO_SECRET_KEY=change-this-secret-key
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_TIME_ZONE=Asia/Riyadh
DJANGO_CSRF_TRUSTED_ORIGINS=
FRONTEND_BASE_URL=http://127.0.0.1:8000
APP_BASE_URL=http://127.0.0.1:8000
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.ionos.de
EMAIL_PORT=587
EMAIL_HOST_USER=no-reply@floos33.de
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=True
DEFAULT_FROM_EMAIL=no-reply@floos33.de
SERVER_EMAIL=no-reply@floos33.de
ACCOUNT_EMAIL_VERIFICATION_REQUIRED=True
ACCOUNT_SEND_WELCOME_EMAIL=True
PASSWORD_RESET_TIMEOUT=259200
DJANGO_EMAIL_FILE_PATH=
