DJANGO_SETTINGS_MODULE=config.settings.dev
DJANGO_SECRET_KEY=change-this-secret-key
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_TIME_ZONE=Asia/Riyadh
DJANGO_CSRF_TRUSTED_ORIGINS=
APP_BASE_URL=http://127.0.0.1:8000
DJANGO_EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DJANGO_EMAIL_FILE_PATH=
