{% extends "accounts/auth_shell.html" %}

{% block title %}اكتملت إعادة التعيين | floos33{% endblock title %}
{% block auth_eyebrow %}Reset{% endblock auth_eyebrow %}
{% block auth_title %}تم حفظ كلمة المرور الجديدة{% endblock auth_title %}
{% block auth_intro %}أصبح بإمكانك الآن تسجيل الدخول باستخدام كلمة المرور الجديدة والمتابعة من حيث توقفت.{% endblock auth_intro %}

{% block auth_content %}
<div class="actions">
    <a class="button" href="{% url 'accounts:login' %}">الانتقال إلى تسجيل الدخول</a>
</div>
{% endblock auth_content %}
