{% extends "accounts/auth_shell.html" %}

{% block title %}Password reset complete | floos33{% endblock title %}
{% block auth_eyebrow %}Reset{% endblock auth_eyebrow %}
{% block auth_title %}Password updated{% endblock auth_title %}
{% block auth_intro %}Your password has been reset successfully. You can now sign in with the new password.{% endblock auth_intro %}

{% block auth_content %}
<div class="actions">
    <a class="button" href="{% url 'accounts:login' %}">Return to login</a>
</div>
{% endblock auth_content %}
