{% extends "accounts/account_shell.html" %}

{% block title %}Password updated | floos33{% endblock title %}
{% block account_eyebrow %}Security{% endblock account_eyebrow %}
{% block account_title %}Password changed{% endblock account_title %}
{% block account_intro %}Your password has been updated. Use it the next time you sign in.{% endblock account_intro %}

{% block account_content %}
<section class="account-panel">
    <div class="actions">
        <a class="button" href="{% url 'accounts:dashboard' %}">Back to dashboard</a>
        <a class="button button-secondary" href="{% url 'accounts:settings' %}">Account settings</a>
    </div>
</section>
{% endblock account_content %}
